

.Dreamline_Worksheet {
    position: relative;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.Dreamline_Worksheet>.dreamline_header_text{
    position: relative;
    background-color: orange;
    width: 100%;
    height: 100%;
}


.Dreamline_Worksheet>.dreamlineMain {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.dreamline_crud {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: orangered;
}

/* .dreamline_crud> h3 {

} */

.dreamline_crud> .crud_inputs {
    position: relative;
    width: 100%;
    height: 100%;
}

.mytbody >tr {
    position: relative;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(5,1fr);
}

.mytbody >tr >td{
    background-color: yellow;
    border-radius: 15px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.mytbody >tr >td > label {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    flex: 1;
}

.mytbody >tr >td> input {
    width: 100%;
    height: 70%;
    border-radius: 15px;
    flex: 3;
}
.mytbody >tr >td> select> option {
    border-radius: 15px;
}
.mytbody >tr >td> select  {
    border-radius: 15px;
}

.mytbody >tr >td> button {
    border-radius: 15px;
    width: 50%;
}
